@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b1b1b;
  --foreground: #fff;

  /* Add font variables from Next.js setup */
  --font-sans: "Inter", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-heading: "Space Grotesk", sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
