@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: whitesmoke;
  --foreground: #1b1b1b;

  /* Add font variables from Next.js setup */
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}
